.Notes--comp {
  display: flex;
  flex-flow: row wrap;
  margin-top: 7rem; }

.NotesView {
  display: flex;
  flex-flow: column;
  margin-top: 2.5rem; }
  .NotesView--header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; }
  .NotesView__empty {
    margin-left: 3rem;
    white-space: nowrap; }
  .NotesView__search {
    margin-top: 1.5rem;
    margin-left: 2rem;
    padding: 0.4rem;
    width: 30rem;
    height: 40px;
    border-radius: 5%;
    border: 0.7px solid #cccccc; }
    .NotesView__search:focus {
      width: 40rem;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out; }
  .NotesView__sort {
    margin: 2rem 5rem 1rem 3rem;
    font-size: 1.4rem;
    cursor: pointer; }
    .NotesView__sort:hover {
      font-size: 2rem;
      margin-left: 2rem; }

.Note {
  border: 1px solid #dadada;
  list-style: none;
  margin-right: 1rem;
  width: 21rem;
  height: 23rem;
  background-color: #fff;
  margin-bottom: 1rem;
  overflow: hidden; }
  .Note:hover {
    background-color: #ffd6d6; }
  .Note--NoteTitle {
    font-size: 1.6rem;
    font-weight: 700;
    color: black;
    height: 4rem;
    width: 85%;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid rgba(177, 177, 177, 0.5);
    /* This creates the border. Replace black with whatever color you want. */
    margin: 0 auto; }
  .Note--NoteBody {
    font-size: 1.3rem;
    padding: 0px 10px 5px 10px;
    color: #636363;
    line-height: 2.8rem; }

.CSV-Link {
  margin-left: 4rem;
  margin-bottom: 10rem;
  color: black; }

.signin {
  font-family: 'Lato',sans-serif;
  width: 120rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white;
  background-color: white;
  background-color: #ffffff;
  border: 1px solid white;
  color: black; }
  .signin--box {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 50rem;
    border: 0.2rem solid #ff7e7e; }
  .signin--header {
    margin-bottom: 3.5rem; }
  .signin--buttons {
    margin-bottom: 1.5rem;
    margin-left: 1rem; }
    .signin--buttons__facebook {
      font-size: 1.2rem;
      background-color: #435c94;
      color: white;
      height: 3.5rem;
      width: 10rem;
      margin-right: 1.5rem;
      border-radius: .5rem; }
    .signin--buttons__google {
      height: 3.5rem;
      width: 10rem;
      background-color: white;
      color: #8b8b8b;
      height: 3.5rem;
      width: 10rem;
      margin-right: 1.5rem;
      border-radius: .5rem; }
      .signin--buttons__google--logo {
        padding: none;
        height: 1.3rem;
        align-self: auto;
        margin-right: .5rem; }
  .signin--orsign {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  .signin--signin {
    font-size: 1.2rem; }
    .signin--signin__username {
      padding: .5rem;
      height: 2rem;
      width: 20rem;
      border-radius: .5rem;
      margin-bottom: .5rem;
      border: 0.1rem solid #dfdfdf; }
    .signin--signin__password {
      padding: .5rem;
      height: 2rem;
      width: 20rem;
      border-radius: .5rem;
      margin-bottom: .5rem;
      border: 0.1rem solid #dfdfdf; }
    .signin--signin__button {
      padding: .5rem;
      height: 3rem;
      width: 100%;
      background-color: black;
      color: white;
      font-size: 1rem;
      border-radius: .5rem; }
  .signin--notmember {
    font-size: 1rem;
    margin-top: 2rem; }

.fa-facebook-square {
  font-size: 1.5rem;
  margin-right: .5rem; }

.CreateNote {
  margin: 3rem 4rem;
  font-size: 1.4rem; }
  .CreateNote--title {
    font-size: 3rem;
    color: rgba(1, 1, 1, 0.7); }
  .CreateNote__Submit {
    color: white;
    height: 3rem;
    width: 15rem;
    background-color: #2bc1c4; }
  .CreateNote--TitleInput {
    height: 3rem;
    width: 40rem;
    margin-bottom: 2rem;
    padding: .7rem; }
  .CreateNote--BodyInput {
    width: 60rem;
    height: 40rem;
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: .4rem;
    margin-bottom: 1.6rem;
    resize: vertical; }

.SideBar {
  background-color: #242424;
  white-space: nowrap;
  position: relative;
  padding-right: 1.5rem; }
  .SideBar__title {
    color: #11754f;
    color: white;
    margin-left: 1rem;
    margin-bottom: 5rem;
    font-size: 5rem;
    padding-right: 3rem; }
  .SideBar__button {
    font-weight: 300;
    font: normal 1rem;
    font-family: 'Times New Roman', Times, serif, sans-serif 50px;
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
    line-height: .3rem;
    cursor: pointer;
    color: #daffe0;
    background-color: #242424;
    height: 3rem;
    padding: 2rem 1rem 2rem 4rem;
    box-shadow: none;
    outline: none;
    border: none; }
    .SideBar__button:hover {
      color: #e0fffe;
      font-size: 2.2rem; }

.SetIc {
  position: relative;
  color: #daffe0;
  font-size: 1.5rem; }
  .SetIc:hover {
    color: #e0fffe;
    font-size: 2rem; }

.fa-sticky-note {
  position: absolute;
  top: 38%;
  left: 9%;
  color: inherit; }

.fa-plus {
  position: absolute;
  top: 38%;
  left: 9%;
  color: inherit; }

.fa-bookmark {
  position: absolute;
  top: 4%;
  left: 65%;
  font-size: 50px;
  color: inherit; }

.fa-sign-out-alt {
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 25px;
  color: inherit; }

.NoteView {
  font-size: 1.6rem;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 4rem;
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
  font-family: 'Raleway', sans-serif; }

.NoteView--Links {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif; }

.NoteView--Links__Link {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 1.5rem; }

.SectionBody {
  margin-right: 20%; }

.DeleteModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(25, 25, 25, 0.5);
  width: 100%;
  height: 100%; }

.DeleteModal-Box {
  font-size: 1.3rem;
  text-align: center;
  background: white;
  border: 2px solid black;
  height: 13rem;
  padding: 1rem; }

.DeleteModal-Box-Delete {
  background: #d0021b;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: .6rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; }

.DeleteModal-Box-Delete:hover {
  background: #83000f; }

.NoDelete {
  color: white;
  background-color: #2bc1c4;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: .6rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
  background-color: #333333; }

html {
  font-size: 62.5%; }

.App {
  display: flex;
  flex-flow: row nowrap;
  background-color: #ffffff;
  width: 1200px;
  margin: 8rem auto;
  min-height: 1200px; }

button {
  cursor: pointer; }

a {
  text-decoration: none; }
