.Master {
  display: flex; }

.Notes--comp {
  display: flex;
  flex-flow: row wrap;
  margin-top: 7rem; }

.NotesView {
  display: flex;
  flex-flow: column;
  margin-top: 1.5rem; }

.Nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center; }
  .Nav--search {
    margin-top: 1.5rem;
    margin-left: 2rem;
    padding: 0.4rem;
    width: 30rem;
    height: 40px;
    border-radius: 5%;
    border: 0.7px solid #cccccc; }
    .Nav--search:focus {
      width: 40rem;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out; }
  .Nav--sort {
    font-size: 1.4rem;
    align-self: center;
    cursor: pointer; }

.Note {
  border: 1px solid #dadada;
  list-style: none;
  margin-right: 1rem;
  width: 21rem;
  height: 23rem;
  background-color: #fff;
  margin-bottom: 1rem;
  overflow: hidden; }
  .Note:hover {
    background-color: rgba(96, 165, 255, 0.13); }
  .Note--NoteTitle {
    font-size: 1.3rem;
    font-weight: 700;
    color: black;
    height: 4rem;
    width: 85%;
    padding-bottom: 1.5rem;
    border-bottom: 0.1rem solid rgba(177, 177, 177, 0.5);
    /* This creates the border. Replace black with whatever color you want. */
    margin: 0 auto; }
  .Note--NoteBody {
    font-size: 1.3rem;
    padding: 0px 10px 5px 10px;
    color: #636363;
    line-height: 2.8rem; }

.CSV-Link {
  margin-left: 4rem;
  color: black; }

.signin {
  box-shadow: none;
  width: 120rem;
  height: 80rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white;
  background-color: #ffffff;
  border: 1px solid white; }
  .signin--image {
    max-width: 80rem;
    max-height: 80rem;
    clip: rect(0px, 60px, 500px, 0px); }
  .signin--box {
    margin-left: 5rem;
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 52rem;
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 0.294);
    position: relative; }
  .signin--header {
    margin-bottom: 3.5rem; }
  .signin--buttons {
    margin-bottom: 1.5rem;
    margin-left: 1rem; }
    .signin--buttons__facebook {
      border: none;
      font-size: 1.2rem;
      background-color: #435c94;
      color: white;
      height: 3.5rem;
      width: 10rem;
      margin-right: 1.5rem;
      border-radius: .5rem; }
    .signin--buttons__google {
      border: 1px solid #dbdbdb;
      background-color: white;
      color: #8b8b8b;
      height: 3.8rem;
      width: 10rem;
      margin-right: 1.5rem;
      border-radius: .5rem; }
      .signin--buttons__google--logo {
        padding: none;
        height: 1.3rem;
        align-self: auto;
        margin-right: .5rem; }
  .signin--orsign {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  .signin--signin {
    font-size: 1.2rem; }
    .signin--signin__username {
      padding: .5rem;
      height: 2rem;
      width: 20rem;
      border-radius: .5rem;
      margin-bottom: .5rem;
      border: 0.1rem solid #dfdfdf; }
    .signin--signin__password {
      padding: .5rem;
      height: 2rem;
      width: 20rem;
      border-radius: .5rem;
      margin-bottom: .5rem;
      border: 0.1rem solid #dfdfdf; }
    .signin--signin__button {
      padding: .5rem;
      height: 3rem;
      width: 100%;
      background-color: black;
      color: white;
      font-size: 1rem;
      border-radius: .5rem;
      border: 0.5px black; }
  .signin--notmember {
    font-size: 1rem;
    margin-top: 2rem; }

.fa-facebook-square {
  font-size: 1.5rem;
  margin-right: .5rem; }

.CreateNote {
  margin: 3rem 4rem;
  font-size: 1.4rem; }
  .CreateNote--title {
    font-size: 3rem;
    color: rgba(1, 1, 1, 0.7); }
  .CreateNote__Submit {
    color: white;
    height: 4rem;
    width: 16rem;
    background-color: #f7a456;
    margin-bottom: 40rem;
    border: 0.5px solid rgba(128, 128, 128, 0.301);
    border-radius: 4px; }
  .CreateNote--TitleInput {
    height: 3rem;
    width: 40rem;
    margin-bottom: 2rem;
    padding: .7rem; }
  .CreateNote--BodyInput {
    width: 60rem;
    height: 40rem;
    padding: 1.2rem;
    border: 1px solid #ccc;
    border-radius: .4rem;
    margin-bottom: 1.6rem;
    resize: vertical; }

.sidebar {
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40rem; }
  .sidebar--title {
    color: #505050;
    margin-left: 4rem;
    margin-bottom: 5.5rem;
    font-size: 4rem;
    padding-right: 3rem; }
  .sidebar--users {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #818181;
    margin-bottom: 10rem; }
  .sidebar--chat {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.6rem;
    align-items: center; }
    .sidebar--chat p :hover {
      color: #f7a456; }

.fa-fw {
  padding-right: 0.5rem; }

.NicoPic {
  display: inline;
  height: 100%;
  position: relative; }

.Nico--cropper {
  display: flex;
  border: 5px solid white;
  box-shadow: 0px 0px 0px 5px lightgray;
  justify-content: center;
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
  position: relative; }

.NoteView {
  font-size: 1.6rem;
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 4rem;
  margin-top: 11rem;
  white-space: wrap;
  overflow: hidden;
  text-overflow: clip;
  font-family: 'Raleway', sans-serif; }

.NoteView--Links {
  display: flex;
  flex-flow: row nowrap;
  align-self: flex-end;
  font-weight: bold;
  text-decoration: underline;
  font-family: 'Roboto', sans-serif; }

.NoteView--Links__Link {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(0, 0, 0, 0.8);
  margin-right: 1.5rem; }

.SectionBody {
  margin-right: 20%; }

.DeleteModal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(25, 25, 25, 0.5);
  width: 100%;
  height: 100%; }

.DeleteModal-Box {
  font-size: 1.3rem;
  text-align: center;
  background: white;
  border: 2px solid black;
  height: 13rem;
  padding: 1rem; }

.DeleteModal-Box-Delete {
  background: #d0021b;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: .6rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; }

.DeleteModal-Box-Delete:hover {
  background: #83000f; }

.NoDelete {
  color: white;
  background-color: #2bc1c4;
  border: 1px solid rgba(0, 0, 0, 0.5);
  margin: .6rem;
  padding: 1rem 2rem 1rem 2rem;
  font-size: 2rem;
  text-align: center;
  width: 25rem;
  height: 4.5rem;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; }

.contact-box {
  width: 30rem;
  height: 10rem;
  position: relative;
  cursor: pointer;
  border-bottom: none;
  border-right: none; }

.contact-info {
  display: flex;
  margin-left: 8rem; }

.contact-firstName {
  font-style: 400;
  font-weight: 700; }

.contact-lastName {
  margin-left: 8px;
  font-weight: 700; }

.contact-time {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem; }

.contact-body {
  margin-top: -1rem;
  margin-left: 8rem; }

.contact-image {
  position: absolute;
  border: 5px solid white;
  box-shadow: 0px 0px 0px 2px lightgray;
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem; }

.convo-hr {
  background-color: blue;
  border: 0.5px solid #e4e4e4; }

.friendcomp {
  display: flex;
  margin: 2rem 4%; }

.friendslist {
  font-size: 1.6rem; }

.friendlist--search {
  margin-top: 3.5rem;
  height: 4rem;
  width: 24rem;
  margin-bottom: 3rem;
  border-radius: 10%;
  border: 0.7px solid #d7d7d7; }

.friendChat {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end; }

.friendchat--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem; }

.friendchat--user {
  font-size: 2rem; }

.friendchat--textbox {
  width: 56rem;
  height: 75rem;
  border: 0.3px solid #c9c9c9; }

.friendChat--search {
  height: 7rem;
  width: 55rem; }

.dropdown-user {
  cursor: pointer; }

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat',sans-serif;
  background: linear-gradient(45deg, #c0e4ff 0%, #ddbe7c 100%);
  background-size: fill; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

button {
  cursor: pointer; }

a {
  text-decoration: none;
  color: #818181; }

ul {
  list-style: none; }

.active {
  color: #60a5ff; }

.App {
  background-color: #ffffff;
  /* offset-x | offset-y | blur-radius | spread-radius | color */
  box-shadow: 0px 7px 10px 0px rgba(0, 0, 0, 0.459);
  width: 120rem;
  margin: 25rem auto;
  position: relative; }
