.CreateNote{
  margin: 30px 40px;
  font-size: 14px;

  &--title {
    font-size: 30px;
    color: rgba(1, 1, 1, 0.7);
  }

  &__Submit {
    color: white;
    height: 30px;
    width: 150px;
    background-color: #2bc1c4;
  }
  &--TitleInput {
    height: 30px;
    width: 400px;
    margin-bottom: 20px;
    padding: 7px;
    // border-radius: 4px;
    
  }

  &--BodyInput {

    width: 600px;
    height: 400px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
}