.signin {
  font-family: 'Lato',sans-serif;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white;
  background-color: rgb(235, 235, 235);
  // background-color: #ffffff;
  border: 1px solid white;
  color: black;

  &--box {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border: 0.5px solid rgb(209, 209, 209);
  }
  &--header {
    margin-bottom: 35px;
  }

  &--buttons {
    margin-bottom: 15px;
    margin-left: 10px;
    &__facebook {
      // padding: 10px;
      font-size: 12px;
      background-color: #435c94;
      color: white;
      height: 35px;
      width: 100px;
      margin-right: 15px;
      border-radius: 5px;
    }
    &__google {
      height: 35px;
      width: 100px;
      background-color: white;
      color: rgb(139, 139, 139);
      height: 35px;
      width: 100px;
      margin-right: 15px;
      border-radius: 5px;
      &--logo {
        padding: none;
        height: 13px;
        // align-content: center;
        align-self: auto;
        margin-right: 5px;
      }
    }
  }

  /////// Signin form ///////////

  &--signin {
    font-size: 12px;
    // background-color: yellow;
    &__username {
      padding: 5px;
      height: 20px;
      width: 200px;
      border-radius: 5px;
      margin-bottom: 5px;
      border: 0.5px solid rgb(223, 223, 223)
    }
    &__password {
      padding: 5px;
      height: 20px;
      width: 200px;
      border-radius: 5px;
      margin-bottom: 5px;
      border: 0.5px solid rgb(223, 223, 223)
      
    }
    &__button {
      padding: 5px;
      height: 30px;
      width: 100%;
      background-color: black;
      color: white;
      font-size: 10px;
      border-radius: 5px;
      
    }
  }
  &--notmember {
    font-size: 10px;
    margin-top: 20px;
  }
}

.fa-facebook-square {
  font-size: 15px;
  margin-right: 5px;
}
