.Notes--comp {
  display: flex;
  flex-flow: row wrap; }

.NotesView {
  display: flex;
  flex-flow: column; }
  .NotesView__empty {
    margin-left: 35px; }

.Note {
  border: 1px solid #dadada;
  list-style: none;
  margin-right: 10px;
  width: 210px;
  height: 230px;
  background-color: #fff;
  margin-bottom: 10px;
  overflow: hidden;
  text-overflow: ellipsis; }
  .Note:hover {
    background-color: #ffd6d6; }
  .Note--NoteTitle {
    font-weight: 700;
    color: black;
    height: 40px;
    width: 85%;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5);
    /* This creates the border. Replace black with whatever color you want. */
    margin: 0 auto; }
  .Note--NoteBody {
    padding: 17px;
    color: #636363; }

.CSV-Link {
  margin-left: 35px;
  padding-bottom: 20px;
  color: black; }
