.SideBar {
  background-color: #242424;
  // background-color: #40474E;
  white-space: nowrap;
  position: relative;

  &__title {
    color: rgb(17, 117, 79);  
    margin-left: 10px; 
    margin-bottom: 50px;
    font-size: 50px;
    padding-right: 20px;
  }

  &__button {
    font-weight: 300;
    font: normal 10px;
    font-family: 'Times New Roman', Times, serif, sans-serif 50px;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
    line-height:3px;
    cursor: pointer;
    color: rgb(218, 255, 224);  
    background-color: #242424;
    height: 30px;
    padding: 20px 10px 20px 40px;
    box-shadow: none;
    outline:none;
    border: none;
    &:hover {
      color: #e0fffe;
      font-size: 22px;
    }
  } 
}

/////////////////////////////////
// ICONS
////////////////////////////////

.SetIc {
  position: relative;
  color: rgb(218, 255, 224);  
  &:hover {
    color: #e0fffe;
    font-size: 20px;
  }
}

.fa {
  &-sticky-note {
    position: absolute;
    top: 38%;
    left: 9%;
    color: inherit;  
  }
  &-plus {
    position: absolute;
    top: 38%;
    left: 9%;
    color: inherit;   
    
  }
  &-bookmark {
    position: absolute;
    top: 4%;
    left: 65%;
    font-size: 50px;
    color: inherit;   
  }
  &-sign-out-alt {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 25px;
    color: inherit;  
  }
}



