.SideBar {
  background-color: #242424;
  white-space: nowrap;
  position: relative; }
  .SideBar__title {
    color: #c5ffcf;
    margin-left: 10px;
    margin-bottom: 50px;
    font-size: 50px;
    padding-right: 20px; }
  .SideBar__button {
    font-weight: 300;
    font: normal 10px;
    font-family: 'Times New Roman', Times, serif, sans-serif 50px;
    width: 100%;
    margin: 10px 0;
    font-size: 20px;
    line-height: 3px;
    cursor: pointer;
    color: #daffe0;
    background-color: #242424;
    height: 30px;
    padding: 20px 10px 20px 40px;
    box-shadow: none;
    outline: none;
    border: none; }
    .SideBar__button:hover {
      color: #e0fffe;
      font-size: 22px; }

.SetIc {
  position: relative;
  color: #daffe0; }
  .SetIc:hover {
    color: #e0fffe;
    font-size: 20px; }

.fa-sticky-note {
  position: absolute;
  top: 38%;
  left: 9%;
  color: inherit; }

.fa-plus {
  position: absolute;
  top: 38%;
  left: 9%;
  color: inherit; }

.fa-bookmark {
  position: absolute;
  top: 4%;
  left: 65%;
  font-size: 50px;
  color: inherit; }

.fa-sign-out-alt {
  position: absolute;
  top: 25%;
  left: 10%;
  font-size: 25px;
  color: inherit; }
