.contact-box {
  // display: flex;
  // flex-wrap: wrap;
  // flex-direction: column;
  // border: .02rem solid rgb(228, 228, 228);
  width: 30rem;
  height: 10rem;
  position: relative;
  cursor: pointer;
  border-bottom: none;
  border-right: none;
    &:last-child {
      // border-bottom: .02rem solid rgb(228, 228, 228);
    }
}

.contact-info {
  display: flex;
  // justify-content: space-evenly;
  margin-left: 8rem;
}

.contact-firstName {
  font-style: 400;
  font-weight: 700;
}
.contact-lastName {
  margin-left: 8px;
  font-weight: 700;
}


.contact-time {
  margin-left: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
}
.contact-body {
  margin-top: -1rem;
  margin-left: 8rem;
  // margin-bottom: 10rem;
}

.contact-image {
  // display: flex;
  position: absolute;
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 2px rgb(211, 211, 211);
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem;
  // background-color: rgb(255, 167, 15);
}

.convo-hr {
  background-color: blue;
  border: 0.5px solid rgb(228, 228, 228);
  // height: 1px;
}


///////////////////////////////////////////
// FriendComp
//////////////////////////////////////////
.friendcomp {
  display: flex;
  margin:2rem 4%;
  // color: blue;
}

.friendslist {
  font-size: 1.6rem;
}

.friendlist--search {
  margin-top: 3.5rem;
  height: 4rem;
  width: 24rem;
  margin-bottom: 3rem;
  border-radius: 10%;
  border: 0.7px solid rgb(215, 215, 215);
}

// .friendlist--contacts {
//   // margin-right: 7rem;
//   // margin-bottom: 2rem;
//   margin: 2rem 7rem 2rem 0;
//   width: 20rem;
//   height: 4rem;
//   border: 1px solid black;
  
// }

.friendChat{
  margin-left:3rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.friendchat--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.friendchat--user {
  font-size: 2rem;
}

.friendchat--textbox {
  width: 56rem;
  height: 75rem;
  border: 0.3px solid rgb(201, 201, 201);
}

.friendChat--search {
  height: 7rem;
  width: 55rem;
}
