.contact-box {
  display: flex;
  border: .02rem solid grey;
  width: 25rem;
  cursor: pointer;
  border-bottom: none;
  border-right: none;
    &:last-child {
      border-bottom: .02rem solid grey;
    }
}


.contact-username {
  margin-top: 2rem;
  margin-left: 1rem;
}

.contact-image {
  border: 5px solid rgb(255, 255, 255);
  box-shadow: 0px 0px 0px 2px rgb(211, 211, 211);
  justify-content: center;
  width: 25px;
  height: 25px;
  overflow: hidden;
  border-radius: 50%;
  margin-left: 1rem;
  // background-color: rgb(255, 167, 15);
}




///////////////////////////////////////////
// FriendComp
//////////////////////////////////////////
.friendcomp {
  display: flex;
  margin:2rem 4%;
}

.friendslist {
  font-size: 1.6rem;
}

.friendlist--search {
  margin-top: 2rem;
  height: 4rem;
  width: 24rem;
  margin-bottom: 3rem;
  border-radius: 10%;
  border: 0.7px solid rgb(215, 215, 215);
}

// .friendlist--contacts {
//   // margin-right: 7rem;
//   // margin-bottom: 2rem;
//   margin: 2rem 7rem 2rem 0;
//   width: 20rem;
//   height: 4rem;
//   border: 1px solid black;
  
// }

.friendChat{
  margin-left:3rem;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}

.friendchat--header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.friendchat--textbox {
  width: 56rem;
  height: 75rem;
  border: 3px solid rgb(201, 201, 201);
}

.friendChat--search {
  height: 7rem;
  width: 55rem;
}
