.Notes--comp {
  display: flex;
  flex-flow: row wrap;
  margin-top: 70px;
}

.NotesView {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
  &--header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  &__empty {
    margin-left: 30px;
    white-space: nowrap;
  }
  
  &__search {
    margin-top: 15px;
    margin-left: 20px;
    padding: 4px;
    width: 300px;
    height: 40px;
    border-radius: 5%;
    border: 0.7px solid rgb(204, 204, 204);
    &:focus {
      width: 400px;
      -webkit-transition: width 0.4s ease-in-out;
      transition: width 0.4s ease-in-out;
    }
  }
  &__sort {
    margin: 20px 50px 10px 30px;
    font-size: 14px;
    cursor: pointer;
      &:hover {
        font-size: 20px;
        margin-left: 20px;
      }
  }
}

//// Individual Note ///////////
////////////////////////////////

.Note {
  border: 1px solid rgb(218, 218, 218);
  list-style: none;
  margin-right: 10px;
  width: 210px;
  height: 230px;
  background-color: #fff;
  margin-bottom: 10px;
  overflow: hidden;

  &:hover {
    background-color: rgb(255, 214, 214);
  }

  &--NoteTitle {
    font-weight: 700;
    color: black;
    height: 40px;
    width: 85%;
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(177, 177, 177, 0.5); /* This creates the border. Replace black with whatever color you want. */
    margin: 0 auto;
  }

  &--NoteBody {
    padding: 0px 10px 5px 10px;
    color: rgb(99, 99, 99);
    line-height: 28px;
  }
}


.CSV-Link {
  margin-left: 35px;
  margin-bottom: 100px;
  color: black;
}
