.sidebar {
  background-color: #242424;
  white-space: nowrap;
  position: relative;
  padding-right: 1.5rem;

  &--users {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin-bottom: 10rem;
  }
  &--chat{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.6rem;
    align-items: center;
  }
  &__title {
    // color: rgb(17, 117, 79);
    color: white;
    margin-left: 1rem;
    margin-bottom: 5rem;
    font-size: 5rem;
    padding-right: 3rem;
  }
}

/////////////////////////////////////////////
// ICONS
/////////////////////////////////////////////

.fa {
  &-sticky-note {
    position: absolute;
    top: 38%;
    left: 9%;
    color: inherit;
  }
  &-plus {
    position: absolute;
    top: 38%;
    left: 9%;
    color: inherit;
  }
  &-bookmark {
    position: absolute;
    top: 4%;
    left: 65%;
    font-size: 50px;
    color: inherit;
  }
  &-sign-out-alt {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 25px;
    color: inherit;
  }
}
