.SideBar {
  background-color: #242424;
  // background-color: #40474E;
  white-space: nowrap;
  position: relative;
  padding-right: 1.5rem;

  &__title {
    color: rgb(17, 117, 79);
    color: white;
    margin-left: 1rem; 
    margin-bottom: 5rem;
    font-size: 5rem;
    padding-right: 3rem;
  }

  &__link {
    font-family: 'Montserrat';
    width: 100%;
    margin: 1rem 0;
    font-size: 2rem;
    line-height:.3rem;
    cursor: pointer;
    color: rgba(218, 255, 224, 0.541);  
    background-color: #242424;
    height: 3rem;
    padding: 2rem 1rem 2rem 4rem;
    box-shadow: none;
    outline:none;
    border: none;
    &:hover {
      color: #e0fffe;
      font-size: 2.2rem;
    }
  } 
}

/////////////////////////////////////////////
// ICONS
/////////////////////////////////////////////

.SetIc {
  position: relative;
  color: rgba(218, 255, 224, 0.541);    
  font-size: 1.5rem;
  &:hover {
    color: #e0fffe;
    font-size: 2rem;
  }
}

.fa {
  &-sticky-note {
    position: absolute;
    top: 38%;
    left: 9%;
    color: inherit;  
  }
  &-plus {
    position: absolute;
    top: 38%;
    left: 9%;
    color: inherit;   
    
  }
  &-bookmark {
    position: absolute;
    top: 4%;
    left: 65%;
    font-size: 50px;
    color: inherit;   
  }
  &-sign-out-alt {
    position: absolute;
    top: 25%;
    left: 10%;
    font-size: 25px;
    color: inherit;  
  }
}



