.sidebar {
  white-space: nowrap;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40rem;
  &--title {
    color: rgb(80, 80, 80);
    margin-left: 4rem;
    margin-bottom: 5.5rem;
    font-size: 4rem;
    padding-right: 3rem;
  }
  &--users {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(129, 129, 129);
    margin-bottom: 10rem;
  }
  &--chat {
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 1.6rem;
    align-items: center;
    & p {
      :hover {
        color: rgb(247, 164, 86);
      }
    }
  }
}

.fa-fw {
  padding-right: 0.5rem;
}

.NicoPic {
  padding: 1rem;
  max-width: 7rem;
  max-height: 7rem;
  border-radius: 20%;
  border: .05rem solid rgb(190, 190, 190);
}

