.signin {
  // background-size: cover;
  box-shadow: none;
  width: 120rem;
  &--image {
    width: 65%;
  }
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white;
  background-color: rgb(255, 255, 255);
  background-color: #ffffff;
  border: 1px solid white;
  color: black;
  &--box {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 40rem;
    height: 52rem;
    // box-shadow: 20px 20px 20px -10px rgba(0, 0, 0, 0.4);
    position: relative;

  }
  &--header {
    margin-bottom: 3.5rem;
  }

  &--buttons {
    margin-bottom: 1.5rem;
    margin-left: 1rem;

    &__facebook {
      border: none;
      // padding: 10px;
      font-size: 1.2rem;
      background-color: #435c94;
      color: white;
      height: 3.5rem;
      width: 10rem;
      margin-right: 1.5rem;
      border-radius: .5rem;
    }
    &__google {
      border: 1px solid rgb(219, 219, 219);
      background-color: white;
      color: rgb(139, 139, 139);
      height: 3.8rem;
      width: 10rem;
      margin-right: 1.5rem;
      border-radius: .5rem;

      &--logo {
        padding: none;
        height: 1.3rem;
        // align-content: center;
        align-self: auto;
        margin-right: .5rem;
      }
    }
  }

  //////////////////////////////////////////////
  // SIGNIN FORM
  //////////////////////////////////////////////

  &--orsign {
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }

  &--signin {
    font-size: 1.2rem;
    // background-color: yellow;
    &__username {
      padding: .5rem;
      height: 2rem;
      width: 20rem;
      border-radius: .5rem;
      margin-bottom: .5rem;
      border: .1rem solid rgb(223, 223, 223)
    }
    &__password {
      padding: .5rem;
      height: 2rem;
      width: 20rem;
      border-radius: .5rem;
      margin-bottom: .5rem;
      border: .1rem solid rgb(223, 223, 223)
      
    }
    &__button {
      padding: .5rem;
      height: 3rem;
      width: 100%;
      background-color: black;
      color: white;
      font-size: 1rem;
      border-radius: .5rem;
      border: 0.5px black;
    }
  }
  &--notmember {
    font-size: 1rem;
    margin-top: 2rem;
  }
}

.fa-facebook-square {
  font-size: 1.5rem;
  margin-right: .5rem;
}
