/* * {
  outline: none;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.App {
  display: flex;
  flex-flow: row nowrap;
  background-color: #ffffff;
  width: 1200px;
  margin: 50% auto;
  border: 1px solid rgba(0,0,0,0.5);
  /* height: 100%; */
  min-height: 1000px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}


