/* * {
  outline: none;
} */

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto',sans-serif;
}

.App {
  display: flex;
  flex-flow: row nowrap;
  background-color: #e0fffe;
  width: 1200px;
  margin: 50px auto;
  border: 1px solid rgba(0,0,0,0.5);
  height: 100%;
  min-height: 800px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  /* color: rgb(148, 148, 148); */
}

button:hover {
  background-color: #e0fffe;
}

