.signin {
  font-family: 'Lato',sans-serif;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid white;
  background-color: #ebebeb;
  border: 1px solid white;
  color: black; }
  .signin--box {
    background-color: #ffffff;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border: 0.5px solid #d1d1d1; }
  .signin--buttons {
    margin-bottom: 15px;
    margin-left: 10px; }
    .signin--buttons__facebook {
      font-size: 12px;
      background-color: #435c94;
      color: white;
      height: 35px;
      width: 100px;
      margin-right: 15px;
      border-radius: 5px; }
    .signin--buttons__google {
      height: 35px;
      width: 100px;
      background-color: white;
      color: #8b8b8b;
      height: 35px;
      width: 100px;
      margin-right: 15px;
      border-radius: 5px; }
      .signin--buttons__google--logo {
        padding: none;
        height: 13px;
        align-self: auto;
        margin-right: 5px; }
  .signin--orsign {
    font-size: 12px;
    margin-bottom: 20px; }
  .signin--signin {
    font-size: 12px;
    margin-bottom: 20px; }
    .signin--signin__username {
      padding: 5px;
      height: 20px;
      width: 200px;
      border-radius: 5px;
      margin-bottom: 5px;
      border: 0.5px solid #dfdfdf; }
    .signin--signin__password {
      padding: 5px;
      height: 20px;
      width: 200px;
      border-radius: 5px;
      margin-bottom: 5px;
      border: 0.5px solid #dfdfdf; }
    .signin--signin__button {
      padding: 5px;
      height: 30px;
      width: 100%;
      background-color: black;
      color: white;
      font-size: 10px;
      border-radius: 5px; }
  .signin--notmember {
    font-size: 10px;
    margin-top: 20px; }

.fa-facebook-square {
  font-size: 15px;
  margin-right: 5px; }
